<section class="section team">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h2 class="mb-4">Bölüm Başkanlarımızla Tanışın</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p>Her biri alanında uzman ekip liderlerimiz ve bölüm başkanımız ie sağlığınız için en iyisini yapmaya çalışıyoruz. </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team-block mb-5 mb-lg-0">
                    <img src="/novena-main/theme/images/team/1.jpg" alt="" class="img-fluid w-100">

                    <div class="content">
                        <h4 class="mt-4 mb-0"><a href="doctor-single.html">Dr. Dt. John Marshal</a></h4>
                        <p>Bölüm Başkanı</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team-block mb-5 mb-lg-0">
                    <img src="/novena-main/theme/images/team/2.jpg" alt="" class="img-fluid w-100">

                    <div class="content">
                        <h4 class="mt-4 mb-0"><a href="doctor-single.html">Dr. Dt. Marshal Root</a></h4>
                        <p>Diş Hekimi, Cerrah</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team-block mb-5 mb-lg-0">
                    <img src="/novena-main/theme/images/team/3.jpg" alt="" class="img-fluid w-100">

                    <div class="content">
                        <h4 class="mt-4 mb-0"><a href="doctor-single.html">Dt. Siamon john</a></h4>
                        <p>Diş Hekimi</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
