<footer class="footer section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mr-auto col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<div class="logo mb-4">
						<img src="/novena-main/theme/images/logo.png" alt="" class="img-fluid">
					</div>
					<br />
					<ul class="list-inline footer-socials mt-4">
						<li class="list-inline-item">
							<a href="https://www.facebook.com/themefisher"><i class="icofont-facebook"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="https://twitter.com/themefisher"><i class="icofont-twitter"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="https://www.pinterest.com/themefisher/"><i class="icofont-linkedin"></i></a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Polikliniklerimiz</h4>
					<div class="divider mb-4"></div>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#!">Genel Cerrahi </a></li>
						<li><a href="#!">Radyoloji</a></li>
						<li><a href="#!">Dahiliye</a></li>
						<li><a href="#!">Kadın Hastalıkları</a></li>
						<li><a href="#!">Çocuk</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Destek</h4>
					<div class="divider mb-4"></div>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#!">Vizyon/Misyon</a></li>
						<li><a href="#!">Yatırımlarımız</a></li>
						<li><a href="#!">Anlaşmalı Kurumlar</a></li>
						<li><a href="#!">Kurumsal Haberler</a></li>
						<li><a href="#!">K.V.K.K. Bilgi</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget widget-contact mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">İletişim</h4>
					<div class="divider mb-4"></div>

					<div class="footer-contact-block mb-4">
						<div class="icon d-flex align-items-center">
							<i class="icofont-email mr-3"></i>
							<span class="h6 mb-0">7/24 Ulaşabilir</span>
						</div>
						<h4 class="mt-2"><a href="mailto:support@email.com">destek@novena.com</a></h4>
					</div>

					<div class="footer-contact-block">
						<div class="icon d-flex align-items-center">
							<i class="icofont-support mr-3"></i>
							<span class="h6 mb-0">Hafta İçi : 08:30 - 18:00<br />Hafta Sonu : 10:30 - 17:00</span>
						</div>
						<h4 class="mt-2"><a href="tel:+23-345-67890">+90 555-555-5555</a></h4>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-btm py-4 mt-5 ">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-4">
					<div class="subscribe-form text-lg-right mt-5 mt-lg-0">
						
					</div>
				</div>
				<div class="col-lg-3">
					<div class="copyright">
						Tüm Hakları Saklıdır &copy; 2023
					</div>
				</div>
				<div class="col-lg-3">
					<div class="copyright">
						Tasarım ve Sistem Ekibi:
					</div>
				</div>
				<div class="col-lg-2">
					<div class="copyright">
						 <a href="https://github.com/mertdurak-97/">Alpaslan Mert DURAK</a><br /><a href="https://github.com/furkanozkaymakk/">Furkan ÖZKAYMAK</a>
					</div>
				</div>
				
			</div>

			<div class="row">
				<div class="col-lg-4">
					<a class="backtop scroll-top-to" href="#top">
						<i class="icofont-long-arrow-up"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>