
<section class="section about-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="title-color">Kuruluş ve Vizyon/ Misyonumuz</h2>
            </div>
            <div class="col-lg-8">
                <p>
                    İlk hastanemiz 1974 yılında Diş Kliniği olarak Ankara'da kuruldu. Kurulduğu yıllarda kurucu üyemiz Prof. Dr. Alp DENİZ ve ekibi hizmet vermekteydiler.
                    1983 yılında hizmet ekibinde genişletmeler yapılarak ve yeni ekipman-ameliyathaneler ile Diş Hastanesi işlevi görmeye başladı. 1997 yılında İstanbul'da 2. hastanesini ve
                    2003 yılında da İzmir'de 3. hastanesini açarak şuanda toplamda 3 hastanemiz ile hizmet vermekteyiz.
                    Yurt dışındaki çoğu hastane ve firmalar ile anlaşmamız bulunarak yerli ve yabancı hastalarımıza hizmet veriyoruz.
                    2020 yılında Gelir Düzeyi Düşük Ülkelere İnsani Görevimiz misyonu ile Afrika'da ve Orta Asya'da çoğu ülkeye yerinde gönüllü hizmet vermeye başladık.
                </p>
            </div>
        </div>
    </div>
</section>
