<section class="banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-xl-7">
				<div class="block">
					<div class="divider mb-3"></div>
					<span class="text-uppercase text-sm letter-spacing ">Tüm Sağlık Çözümleriniz</span>
					<h1 class="mb-3 mt-3">En Güvenilir Sağlık Ortağınız</h1>

					<p class="mb-4 pr-5">Alanında uzman kadromuz ve gelişmiş teknolojik tıbbi ekipmanlarımız ile herhangi bir sağlık sorunlarınızı birlikte halledebiliriz. İsteğiniz zaman içerisinde randevu alabilirsiniz.</p>
					<div class="btn-container ">
						<a href="appoinment.html" target="_blank" class="btn btn-main-2 btn-icon btn-round-full">Randevu Al<i class="icofont-simple-right ml-2  "></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>