
@{
    Layout = null;
}

<!DOCTYPE html>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css">
<link rel="stylesheet" href="~/css/sweetalert2.min.css" />

<html lang="en">
@await Html.PartialAsync("/Views/LayoutPartial/_HeaderPartial.cshtml")

<body id="top">

	@await Html.PartialAsync("/Views/LayoutPartial/_NavbarPartial.cshtml")


	
	@RenderBody()
	

	@await Html.PartialAsync("/Views/LayoutPartial/_FooterPartial.cshtml")
	

@await Html.PartialAsync("/Views/LayoutPartial/_ScriptPartial.cshtml")

</body>
</html>
