@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <h1 class="text-capitalize mb-5 text-lg">Hakkımızda</h1>
                </div>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("_About")

@await Component.InvokeAsync("_FeatureAbout")

@await Component.InvokeAsync("_SectionTeam")

@await Component.InvokeAsync("_TestimonialAbout")